@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the school page.</h1>
    <p>This is a website to administrate the students login, names and so on.</a></p>
</div>
